.Peep {
    background-color: lightgray;
    border-color: black ;
    border-width:medium;
    border-style: solid;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    text-indent: 2%;
}

h2 {
    font-weight: bold;
}

span {
    font-weight:lighter;
    font-size: smaller;
    color:rgb(152,152,152);
}